{% include "../inc/header.html" %}

	<div id="plaats"><strong>U bent hier&nbsp;:&nbsp;</strong>
		<a href="/">Home</a><span class="arrow">&nbsp;&gt;&nbsp;</span>
		<a href="/home/busje">Busje</a>
	</div>

    <div id="sjLeft">
        {% include "../inc/blocks/homepage.html" %}
    </div>
				
	<div id="sjCenter" class="sj23">
		<div class="sjPadding">
			<h1>Busje</h1>
			<ul class="float clearfix">
				<li class="mr20 shadow"><a href="https://picasaweb.google.com/basisschoolsintjan/Busje?authkey=Gv1sRgCLfWgcr0keae-wE" target="_blank"><img src="http://lh4.googleusercontent.com/_9HfKL1PRuO8/TduQZTmXVlI/AAAAAAAABqo/MG0XYI2fBMM/s128/IMG_1711.jpg" alt="Busje 1" /></a></li>
				<li class="mr20 shadow"><a href="https://picasaweb.google.com/basisschoolsintjan/Busje?authkey=Gv1sRgCLfWgcr0keae-wE" target="_blank"><img src="http://lh3.googleusercontent.com/_9HfKL1PRuO8/TduQZHhTWPI/AAAAAAAABqk/EVuui8VFsVk/s128/IMG_1710.jpg" alt="Busje 2" /></a></li>
				<li class="mr20 shadow"><a href="https://picasaweb.google.com/basisschoolsintjan/Busje?authkey=Gv1sRgCLfWgcr0keae-wE" target="_blank"><img src="http://lh6.googleusercontent.com/_9HfKL1PRuO8/TduQbGaaRhI/AAAAAAAABq4/bV__rPoWN3c/s128/IMG_1714.jpg" alt="Busje 3" /></a></li>
				<li class="mr20 shadow"><a href="https://picasaweb.google.com/basisschoolsintjan/Busje?authkey=Gv1sRgCLfWgcr0keae-wE" target="_blank"><img src="http://lh5.googleusercontent.com/_9HfKL1PRuO8/TduQcUjAU_I/AAAAAAAABrE/9R3xt0rI5xg/s128/IMG_1717.jpg" alt="Busje 4" /></a></li>
				<li class="shadow"><a href="https://picasaweb.google.com/basisschoolsintjan/Busje?authkey=Gv1sRgCLfWgcr0keae-wE" target="_blank"><img src="http://lh3.googleusercontent.com/_9HfKL1PRuO8/TduQb20E-1I/AAAAAAAABrA/H1B9jUn0v-k/s128/IMG_1716.jpg" alt="Busje 5" /></a></li>

			
			</ul>
			<p><a href="https://picasaweb.google.com/basisschoolsintjan/Busje?authkey=Gv1sRgCLfWgcr0keae-wE" target="_blank">Bekijk het volledige album</a>
			
			
			<h1>Sponsors</h1>
			<ul class="left sponsors">
				<li>
					<strong>Bouwmachines De Ceuster & Co.</strong>
					<p>Gerard Mercatorstraat 26<br/>3920 Lommel<br/>011 542413</p>
					<p><a href="http://www.deceuster.be" target="_blank">www.deceuster.be</a></p>
				</li>
				<li>
					<strong>Hotel - Taverne Lommel Broek</strong>
					<p>Kanaalstraat 91<br/>3920 Lommel<br/>011 391034</p>
					<p><a href="http://www.lommelbroek.be" target="_blank">www.lommelbroek.be</a></p>
				</li>
				<li>
					<strong>Meubelzaak Prijzenklopper</strong>
					<p>Peerderbaan 135<br/>3940 Hechtel<br/>011 730180</p>
					<p><a href="http://www.deprijzenklopper.be" target="_blank">http://www.deprijzenklopper.be</a></p>
				</li>
				<li>
					<strong>Electro Sels</strong>
					<p>Kloosterstraat 36<br/>3920 Lommel<br/>011 544066</p>
				</li>
				<li>
					<strong>Richard Dierckx</strong>
					<p>Kerkhovensesteenweg 375<br/>3920 Lommel<br/>011 341631</p>
					<p><a href="http://www.dierckxrichard.be" target="_blank">www.dierckxrichard.be</a></p>
				</li>
				<li>
					<strong>Verwarming - sanitair Jansen</strong>
					<p>Simon Stevinstraat 5<br/>3920 Lommel<br/>011 541613</p>
					<p><a href="http://www.jansen-verwarming.be" target="_blank">www.jansen-verwarming.be</a></p>
				</li>
				<li>
					<strong>Carrosseriebedrijf Verdonck</strong>
					<p>Balendijk 228<br/>3920 Lommel<br/>011 543694</p>
					<p><a href="http://www.carrosserie-verdonck.be" target="_blank">www.carrosserie-verdonck.be</a></p>
				</li>
				<li>
					<strong>MBCV</strong>
					<p>Lommelsesteenweg 291<br/>3970 Leopoldsburg</p>
				</li>
				<li>
					<strong>Franco &amp; Livio Voegwerken</strong>
					<p>Verloren Hoek 140<br/>3920 Lommel<br/>0476 44 16 32</p>
					<!--<p>Klaverstraat 1<br/>3920 Lommel<br/>011 540659</p>  -->
				</li>
				<li>
					<strong>EP Cuypers Elektro</strong>
					<p>Kerkhovensesteenweg 336<br/>3920 Lommel<br/>011 341470</p>
					<p><a href="http://www.elektrocuypers.be" target="_blank">www.elektrocuypers.be</a></p>
				</li>
				<li>
					<strong>Centrale verwarming - sanitair J.P. Berckmans</strong>
					<p>Kerkstraat 30<br/>2490 Balen<br/>014 431085</p>
					<p><a href="http://www.jpberckmans.be" target="_blank">www.jpberckmans.be</a></p>
				</li>
				<li>
					<strong>Fiat Garage Rabijns</strong>
					<p>Industrieweg 33<br/>3583 Paal-Beringen<br/>011 426046</p>
				</li>
				<li>
					<strong>Aannemingen Dilissen</strong>
					<p>Korenstraat 58<br/>3920 Lommel<br/>011 545724</p>
				</li>
				<li>
					<strong>ERA Immobilien Carl Tournier</strong>
					<p>Einderpad 30<br/>3920 Lommel<br/>011 550440</p>
					<p><a href="http://www.era.be/carltournier" target="_blank">www.era.be/carltournier</a></p>
				</li>
			</ul>
			
			
			<ul class="right sponsors">
				<li>
					<strong>Tir Nan Og Stables</strong>
					<p>Overmaai 15<br/>3920 Lommel<br/>011 553244</p>
					<p><a href="http://www.tirnanogstables.be" target="_blank">www.tirnanogstables.be</a></p>
				</li>
				<li>
					<strong>Bakkerij W. Stans</strong>
					<p>Kamperbaan 7<br/>2490 Balen<br/>011 341928</p>
				</li>
				<li>
					<strong>Auto's Maes</strong>
					<p>Steenweg op Leopoldsburg<br/>2490 Balen<br/>014 812304</p>
					<p><a href="http://www.autos-maes.be" target="_blank">www.autos-maes.be</a></p>
				</li>
				<li>
					<strong>Poorten De Pril</strong>
					<p>Poeierstraat<br/>2490 Balen<br/>014 815577</p>
					<p><a href="http://www.poortendepril.be" target="_blank">www.poortendepril.be</a></p>
				</li>
				<li>
					<strong>Stico</strong>
					<p>Kaulillerweg 83<br/>3950 Bocholt<br/>089 462113</p>
					<p><a href="http://www.stico.be" target="_blank">www.stico.be</a></p>
				</li>
				<li>
					<strong>Jumbo Nederland</strong>
					<p>Dorpstraat 65<br/>5575 Luyksgestel (Nederland)</p>
					<p><a href="http://www.jumboluyksgestel.nl" target="_blank">www.jumboluyksgestel.nl</a></p>
				</li>
				<li>
					<strong>Brico (TPL Belgium)</strong>
					<p>Roerdompstraat 24<br/>3920 Lommel<br/>011 554414</p>
					<p><a href="http://winkel.brico.be/wabl/brico-lommel/home/nl.do" target="_blank">winkel.brico.be/wabl/brico-lommel/home/nl.do</a></p>
				</li>
				<li>
					<strong>Brandstoffen van Duffel</strong>
					<p>Stationstraat 148<br/>3920 Lommel<br/>011 544075</p>
				</li>
				<li>
					<strong>Hairstudio Rob</strong>
					<p>Kerkhovensesteenweg 264<br/>3920 Lommel<br/>011 391133</p>
				</li>
				<li>
					<strong>Miltech</strong>
					<p>Lodewijk de Raetstraat 47<br/>3920 Lommel<br/>011 747540</p>
					<p><a href="http://www.veltech.be" target="_blank">www.veltech.be</a></p>
				</li>
				<li>
					<strong>Carwash de Ring</strong>
					<p>Dillenbos 2<br/>2400 Mol<br/>014 326567</p>
					<p><a href="http://www.carwashdering.be" target="_blank">www.carwashdering.be</a></p>
				</li>
				<li>
					<strong>D&H Tegels</strong>
					<p>Lodewijk de Raetstraat 42a<br/>3920 Lommel<br/>011 403130</p>
				</li>
				<li>
					<strong>McDonalds Lommel</strong>
					<p>Buitensingel 50<br/>3920 Lommel<br/>011 552980</p>
					<p><a href="http://www.mcdonalds.be" target="_blank">www.mcdonalds.be</a></p>
				</li>
				
			</ul>
			
			
		</div>
	</div>
	

{% include "../inc/footer.html" %}








 