{% include "../inc/header.html" %}


	<div id="plaats"><strong>U bent hier&nbsp;:&nbsp;</strong>
		<a href="/">Home</a>
	</div>

    <div id="sjLeft">
        {% include "../inc/blocks/homepage.html" %}
    </div>

	<div id="sjCenter">
		<div class="sjPadding">
			<h1>Sint-Jan</h1>

			<div class="yellowbox">
				<ul>
				{% for item in list %}	
				<li><a href="{{item.path}}">{{item.title}}</a></li>
				{% endfor %}
				</ul>
			</div>

			<ul id="news" moreTarget="2">
            {% autoescape off %}
			{% for item in list %}
			    <li moreItem="{{item.formatDate}}" _id="{{item.key.id}}">
			    	<div class="title"><a href="{{item.path}}">{{item.title}}</a></div>
			    	<div class="msg">{{item.msg}}</div>
		    		<ul class="foot clearfix">
		    			<li>{{item.formatted}}</li>
		    			<li><a href="{{item.path}}">Reageer</a></li>
		    		</ul>
		    		
		    		{% ifequal item.id firstId %}
		    		<div><fb:comments href="{{context.url}}{{item.path}}" width="519"></fb:comments></div>
		    		{% endifequal %}
			    </li>
			{% endfor %}
            {% endautoescape %}
			</ul>
			
			<div class="more" moreBtn="2">
				<a href="javascript:void(0)" onclick="sj.more({url:'/news/more',moreId:2})">Laad meer</a>	
				<p style="display:none;">Laden ... </p>
			</div>
			
		</div>
	</div>
	
	<div id="sjRight">
        <!--
        <div class="sjBoxBlue">
            <h3>Sneeuwklassen</h3>
                <ul>
                    <li><a href="/sneeuwklassen/maandag-4-maart-2013">Maandag 4 maart</a></li>
                    <li><a href="/sneeuwklassen/disndag-5-maart-2013">Dinsdag 5 maart</a></li>
                    <li><a href="/sneeuwklassen/woensdag-6-maart-2013">Woensdag 6 maart</a></li>
                    <li><a href="/sneeuwklassen/donderdag-7-maart-2013">Donderdag 7 maart</a></li>
                    <li><a href="/sneeuwklassen/vrijdag-8-maart-2013">Vrijdag 8 maart</a></li>
                    <li><a href="/sneeuwklassen/zaterdag-9-maart-2013">Zaterdag 9 maart</a></li>
                    <li><a href="/sneeuwklassen/zondag-10-maart-2013">Zondag 10 maart</a></li>
                    <li><a href="/sneeuwklassen/maandag-11-maart-2013">Maandag 11 maart</a></li>
                    <li><a href="/sneeuwklassen/dinsdag-12-maart-2013">Dinsdag 12 maart</a></li>
                </ul>
                -->
                <!--
                <ul>
                    <li><a href="/sneeuwklassen/maandag-10-maart-2014">Maandag 10 maart</a></li>
                    <li><a href="/sneeuwklassen/disndag-11-maart-2014">Dinsdag 11 maart</a></li>
                    <li><a href="/sneeuwklassen/woensdag-12-maart-2014">Woensdag 12 maart</a></li>
                    <li><a href="/sneeuwklassen/donderdag-13-maart-2014">Donderdag 13 maart</a></li>
                    <li><a href="/sneeuwklassen/vrijdag-14-maart-2014">Vrijdag 14 maart</a></li>
                    <li><a href="/sneeuwklassen/zaterdag-15-maart-2014">Zaterdag 15 maart</a></li>
                    <li><a href="/sneeuwklassen/zondag-16-maart-2014">Zondag 16 maart</a></li>
                    <li><a href="/sneeuwklassen/maandag-17-maart-2014">Maandag 17 maart</a></li>
                    <li><a href="/sneeuwklassen/dinsdag-18-maart-2014">Dinsdag 18 maart</a></li>
                </ul>
                -->
                <!--
                <ul>
                    <li><a href="/sneeuwklassen/donderdag-26-maart-2015">Donderdag 26 maart</a></li>
                    <li><a href="/sneeuwklassen/vrijdag-27-maart-2015">Vrijdag 27 maart</a></li>
                    <li><a href="/sneeuwklassen/zaterdag-28-maart-2015">Zaterdag 28 maart</a></li>
                    <li><a href="/sneeuwklassen/zondag-29-maart-2015">Zondag 29 maart</a></li>
                    <li><a href="/sneeuwklassen/maandag-30-maart-2015">Maandag 30 maart</a></li>
                    <li><a href="/sneeuwklassen/dinsdag-31-maart-2015">Dinsdag 31 maart</a></li>
                    <li><a href="/sneeuwklassen/woensdag-1-april-2015">Woensdag 1 april</a></li>
                    <li><a href="/sneeuwklassen/donderdag-2-april-2015">Donderdag 2 april</a></li>
                    <li><a href="/sneeuwklassen/vrijdag-3-april-2015">Vrijdag 3 april</a></li>
                </ul>
        </div>
        -->

        <!--
		<div class="sjBoxBlue">
			<h3><a href="http://www.dossintjan.iseral.be/" target="_blank">Dorp op school</a></h3>
			<p><a href="http://www.dossintjan.iseral.be/" target="_blank">De leerlingen van de 3de graad Basisschool Sint-Jan bouwen aan hun 'Dorp Op School', bekijk het hier!</a></p>
			<div class="sjFotoWrapper">
				<a href="https://picasaweb.google.com/basisschoolsintjan/DorpOpSchool02?authkey=Gv1sRgCNjFg_Hf79uLnAE" target="_blank" class="sjFoto shadow"><img src="http://lh3.googleusercontent.com/_9HfKL1PRuO8/TdZd2EQ09UI/AAAAAAAABfc/604V5HZ-toU/s128/P1070993.JPG" alt="Busje"/></a>
			</div>
		</div>
		-->
	
		<iframe src="/s/twitter.html" width="220" height="600" scrolling="no" frameborder="0" ></iframe>
	</div>

{% include "../inc/footer.html" %}




