{% include "../inc/header.html" %}
{% include "../inc/blocks/homepage.html" %}

	<div id="plaats"><strong>U bent hier&nbsp;:&nbsp;</strong>
		<a href="/">Home</a><span class="arrow">&nbsp;&gt;&nbsp;</span>
		<a href="/home/sitemap">Sitemap</a>
	</div>

	<div id="sjCenter">
		<div class="sjPadding">
		
		<h1>Sitemap</h1>
		<ul class="sitemap">
			<li><a href="/">home</a>
				<ul class="sitemap">
					<li><a href="/home/nieuws">al het nieuws</a></li>
					<li><a href="/home/kalender">kalender</a></li>
					<li><a href="/home/sitemap">sitemap</a></li>
				</ul>
			</li>
			
			<li><a href="/fotos">fotos</a></li>
			<li><a href="/prikbord">prikbord</a>
				<ul class="sitemap">
					<li><a href="/prikbord">prik een berichtje op het prikbord</a></li>
					<li><a href="/prikbord/voegtoe.php">bekijk prikbord</a></li>
				</ul>
			</li>
				
			<li><a href="/overons">over ons</a>
				<ul class="sitemap">
					<li><a href="/overons/index.php?pagina=schoolmet5ks&amp;level=1">Basisschool Sint Jan</a></li>
					<ul class="sitemap">
						<li><a href="/overons/index.php?pagina=schoolmet5ks&amp;level=1">School met 5 K's</a></li>
						<li><a href="/overons/index.php?pagina=ervarge&amp;level=1">ervaringsgericht onderwijs</a></li>
					</ul>
					<li><a href="/overons/index.php?pagina=jaarthema&amp;level=2">Ervaringsgerichte activiteiten</a></li>
					<ul class="sitemap">
						<li><a href="/overons/index.php?pagina=jaarthema&amp;level=2">jaarthema</a></li>
						<li><a href="/overons/index.php?pagina=kindvgs&amp;level=2">kindvolgsysteem</a></li>
						<li><a href="/overons/index.php?pagina=kring&amp;level=2">kring</a></li>
						<li><a href="/overons/index.php?pagina=hoekenwerk&amp;level=2">hoekenwerk</a></li>
						<li><a href="/overons/index.php?pagina=contractwerk&amp;level=2">contractwerk</a></li>
						<li><a href="/overons/index.php?pagina=projectwerk&amp;level=2">projectwerk</a></li>
						<li><a href="/overons/index.php?pagina=atelier&amp;level=2">atelier</a></li>
						<li><a href="/overons/index.php?pagina=kinderraad&amp;level=2">kinderraad</a></li>
					</ul>
					<li><a href="/overons/index.php?pagina=dierenroos&amp;level=3">sociaal vaardig lieve deugd</a></li>
					<ul class="sitemap">
						<li><a href="/overons/index.php?pagina=dierenroos&amp;level=3">dierenroos</a></li>
						<ul class="sitemap">
							<li><a href="/overons/index.php?pagina=axenroos&amp;level=3">axenroos</a></li>
							<li><a href="/overons/index.php?pagina=goedslecht&amp;level=3">goed -en slechtgemutste variant</a></li>
						</ul>
						<li><a href="/overons/index.php?pagina=leeuw&amp;level=3">leeuw</a></li>
						<li><a href="/overons/index.php?pagina=kameel&amp;level=3">kameel</a></li>
						<li><a href="/overons/index.php?pagina=bever&amp;level=3">bever</a></li>
						<li><a href="/overons/index.php?pagina=poes&amp;level=3">poes</a></li>
						<li><a href="/overons/index.php?pagina=pauw&amp;level=3">pauw</a></li>
						<li><a href="/overons/index.php?pagina=wasbeer&amp;level=3">wasbeer</a></li>
						<li><a href="/overons/index.php?pagina=uil&amp;level=3">uil</a></li>
						<li><a href="/overons/index.php?pagina=schildpad&amp;level=3">schildpad</a></li>
						<li><a href="/overons/index.php?pagina=havik&amp;level=3">havik</a></li>
						<li><a href="/overons/index.php?pagina=steenbok&amp;level=3">steenbok</a></li>
					</ul>
					<li><a href="/overons/index.php?pagina=sova&amp;level=4">methodes op school</a></li>
					<ul class="sitemap">
						<li><a href="/overons/index.php?pagina=sova&amp;level=4">sociale vaardigheden</a></li>
						<li><a href="/overons/index.php?pagina=godsdienst&amp;level=4">godsdienst</a></li>
						<li><a href="/overons/index.php?pagina=wiskunde&amp;level=4">wiskunde</a></li>
						<li><a href="/overons/index.php?pagina=nederlands&amp;level=4">Nederlands</a></li>
						<li><a href="/overons/index.php?pagina=frans&amp;level=4">Frans</a></li>
					</ul>
				</ul>
			</li>
	
			<li><a href="/info/contact">contact &amp; info</a>
	                <ul>
	                <li><a href="/info/index.php?q=lesuren">Lesuren</a></li>
	                <li><a href="/info/index.php?q=team">Leerkrachtenteam</a></li>
	                <li><a href="/info/index.php">Adres</a></li>
	                <li><a href="/info/index.php?q=schoolbestuur">Schoolbestuur</a></li>
	                <li><a href="/info/index.php?q=oudercomite">Oudervereniging</a></li>
	                <li><a href="/info/index.php?q=clb">CLB</a></li>
		        </ul>
	        </li>
	        
	        <li><a href="/comenius">Comenius</a></li>
	        <li><a href="/sneeuwklassen">Sneeuwklassen</a></li>
		</ul>
	
		</div><!-- sjPadding -->	
	</div><!-- sjCenter -->

 
 
{% include "../inc/footer.html" %}


