{% include "../inc/header.html" %}
{% include "inc.left.html" %}

	<div id="plaats"><strong>U bent hier&nbsp;:&nbsp;</strong>
		<a href="/prikbord/">Prikbord</a>
	</div>
				
	<div id="sjCenter" class="sjCenterS1">
		<div class="sjPadding">
			<h1>Bekijk Prikbord</h1>
			<p><a href="/prikbord/voegtoe">Prik zelf iets op ons prikbord.</a></p>

			<ul id="guestbook" moreTarget="3">
            {% autoescape off %}
			{% for item in list %}
			    <li moreItem="{{item.formatDate}}">
			    	<div class="name"><a href="/prikbord/filter?name={{item.name}}">{{item.name}}</a></div>
			    	<div class="msg">{{item.msg}}</div>
			    	<div class="date">{{item.formatted}}</div>
			    </li>
			{% endfor %}
            {% endautoescape %}
			</ul>

			<div class="more" moreBtn="3">
				<a href="javascript:void(0)" onclick="sj.more({url:'/prikbord/more',moreId:3})">Laad meer</a>	
				<p style="display:none;">Laden ... </p>
			</div>
		</div>
	</div>

{% include "../inc/footer.html" %}



