

			<div id="sjLeft">
				<h1>Nieuws</h1>
				<div>
					<ul>
						<li><span class="arrow">&gt;&nbsp;</span><a href="/admin/news/edit">Nieuw item</a></li>
						<li><span class="arrow">&gt;&nbsp;</span><a href="/admin/news/all">Overzicht</a></li>
					</ul>
				</div>
				
				<h1>Kalendar</h1>
				<div>
					<ul>
						<li><span class="arrow">&gt;&nbsp;</span><a href="/admin/cal/edit">Nieuw item</a></li>
						<li><span class="arrow">&gt;&nbsp;</span><a href="/admin/cal/all">Overzicht</a></li>
					</ul>
				</div>
				
				<h1>Paginas</h1>
				<div>
					<ul>
						<li><span class="arrow">&gt;&nbsp;</span><a href="/admin/page/edit">Nieuwe pagina</a></li>
						<li><span class="arrow">&gt;&nbsp;</span><a href="/admin/page/all">Overzicht</a></li>
					</ul>
				</div>
				
				<h1>Sneewklassen</h1>
				<div>
					<ul>
						<li><span class="arrow">&gt;&nbsp;</span><a href="/admin/snow/all">Krant</a></li>
						<li><span class="arrow">&gt;&nbsp;</span><a href="/admin/snow/diary">Dagboek</a></li>
					</ul>
				</div>
				
			</div>

