{% include "../inc/header.html" %}
{% include "inc.left.html" %}

	<div id="plaats"><strong>U bent hier&nbsp;:&nbsp;</strong>
		<a href="/admin">Admin</a><span class="arrow">&nbsp;&gt;&nbsp;</span>
		<a href="/admin/news/edit">Nieuw nieuws item</a>
	</div>

	<div id="sjCenter" class="sj23">
		<div class="sjPadding">
			<h1>Nieuw nieuws item</h1>
			<p><strong>Let op : </strong>alle velden zijn verplicht!</p>

			{% if error %}
			<div class="error">Alle velden zijn verplicht!</div>
			{% endif %}

			<form method="post" action="/admin/news/edit">
			<input type="hidden" name="id" value="{{news.id}}"/>
			
			<table>
				<tbody>
					<tr>
						<td style="width:120px"><label for="fName">Je naam:</label></td>
						<td><input id="fName" type="text" size="50" name="name" value="{{news.name}}"/></td>
					</tr>
					<tr>
						<td><label for="fMail">Je e-mailadres:</label></td>
						<td><input id="fMail" type="text" size="50" name="email" value="{{news.email}}"/></td>
					</tr>
					<tr>
						<td><label for="fTitle">De titel:</label></td>
						<td><input id="fTitle" type="text" size="50" name="title" value="{{news.title}}"/></td>
					</tr>
					<tr>
						<td valign="top"><label for="fMsg">Bericht:</label></td>
						<td><textarea id="fMsg" rows="10" cols="55" name="msg">{{news.msg}}</textarea></td>
					</tr>
					<tr>
						<td><label for="fVis">Zichtbaar:</label></td>
						<td><select id="fVis" name="visible">
			                    <option value="true">true</option>
			                	<option value="false" {% if not news.visible %}selected="selected"{% endif %}>false</option>
			                </select></td>
			        </tr>
			        <tr><td><br/></td><td></td></tr>
					<tr>
						<td></td>
						<td>
							<input type="submit" name="submit" value="Opslaan"/>
						</td>
					</tr>
				</tbody>
			</table>
			</form>
			<script type="text/javascript">document.getElementById('fTitle').focus()</script>

		</div>
	</div>

{% include "../inc/footer.html" %}






