{% include "../inc/header.html" %}
{% include "inc.left.html" %}

	<div id="plaats">
		<strong>U bent hier&nbsp;:&nbsp;</strong>
		<a href="/info/">info</a><span class="arrow">&nbsp;&gt;&nbsp;</span>
		<a href="/info/scholengemeenschap">scholengemaanschap</a>
	</div>
	
	<div id="sjCenter">
		<div class="sjPadding">


	<h1>Scholengemeenschap</h1>
<p>Sinds 1 september 2003 maakt Basisschool Sint-Jan deel uit van de
<strong>'Lommelse Katholieke Basisscholen'</strong>.  De 9 scholen,
verenigd in het Cass, werken nauw samen op vlak van
administratie, ICT en zorg.</p>
<div class="yellowbox2"><p>
 Fred Kemps, directeur van Basisschool Heide-Heuvel, is vanaf 1
september 2005 halftijds co&ouml;rdinerend directeur van LKB.</p></div>

<p>Naast onze school zijn de volgende scholen lid van de LKB:</p>

<h2>1 Lagere School De Speling</h2>
<blockquote>Kloosterstraat 3<br />
3920 Lommel<br />
tel: 011/ 54 42 24<br />
fax: 011/ 55 21 26<br />
<a href="mailto:{{"speling.basis@scarlet.be"|mail}}">{{"speling.basis@scarlet.be"|mail}}</a></blockquote>
		

<h2>2 Basisschool Sint-Jan</h2>
<blockquote>Kerkweg 22<br />
3920 Lommel<br />
tel: 011/ 34 42 20<br />
fax: 011/ 40 34 73<br />
<a href="mailto:{{"contact@sintjan-lommel.be"|mail}}">{{"contact@sintjan-lommel.be"|mail}}</a><br/>
<a href="http://www.sintjan-lommel.be">http://www.sintjan-lommel.be</a></blockquote>


<h2>3 Eymardschool</h2>
<blockquote>GVS voor bijzonder onderwijs<br />
Oude Diestersestraat 15<br />
3920 Lommel<br />
tel: 011/54 03 25<br />
fax: 011/ 54 03 25<br />
<a href="mailto:{{"eymardschool@scarlet.be"|mail}}">{{"eymardschool@scarlet.be"|mail}}</a><br/>
</blockquote>


<h2>4 Basisschool Lutlommel</h2>
<blockquote>Hanekapstraat 8<br />
3920 Lommel<br />
tel: 011/ 54 05 16<br />
fax: 011/ 54 05 16<br />
<a href="mailto:{{"basisschool.lutlommel@scarlet.be"|mail}}">{{"basisschool.lutlommel@scarlet.be"|mail}}</a>
</blockquote>


<h2>5 G.V. Basisschool  Lommel Barrier</h2>
<blockquote>Luikstersteenweg 243<br />
3920 Lommel<br />
tel: 011/ 64 03 18<br />
fax: 011/80 67 24<br />
<a href="mailto:{{"gvbbarier@pandora.be"|mail}}">{{"gvbbarier@pandora.be"|mail}}</a><br />
</blockquote>
		
		
<h2>6 Kleuterschool De Speling</h2>
<blockquote>Kloosterstraat 1<br />
3920 Lommel<br />
tel: 011/ 54 08 56<br />
<a href="mailto:{{"kleuterschool.despeling@belgacom.net"|mail}}">{{"kleuterschool.despeling@belgacom.net"|mail}}</a><br />
<a href="mailto:{{"domini@skynet.be"|mail}}">{{"domini@skynet.be"|mail}}</a>
</blockquote>

		
<h2>7 Boudewijnschool</h2>
<blockquote>Einde 5<br />
3920 Lommel<br />
tel: 011/54 46 74<br />
fax: 011/54 85 99<br />
<a href="mailto:{{"boudewijnschool@scarlet.be"|mail}}">{{"boudewijnschool@scarlet.be"|mail}}</a>
</blockquote>


<h2>8 Basisschool Lommel-West</h2>
<blockquote>G.Bomansstraat 17<br />
3920 Lommel<br />
tel: 011/ 54 03 50<br />
fax: 011/54 03 50<br />
<a href="mailto:{{"lommelwest@belgacom.net"|mail}}">{{"lommelwest@belgacom.net"|mail}}</a>
</blockquote>

		
<h2>9 Basisschool Heide-Heuvel</h2>
<blockquote>Slinkerstraat 62<br />
3920 Lommel<br />
tel: 011/ 54 02 58<br />
<a href="mailto:{{"v.b.heide-heuvel@skynet.be"|mail}}">{{"v.b.heide-heuvel@skynet.be"|mail}}</a>
</blockquote>		


		</div>
	</div>

{% include "../inc/footer.html" %}



