{% include "../inc/header.html" %}
{% include "inc.left.html" %}

	<div id="plaats">
		<strong>U bent hier&nbsp;:&nbsp;</strong>
		<a href="/info/">info</a><span class="arrow">&nbsp;&gt;&nbsp;</span>
		<a href="/info/clb">CLB</a>
	</div>
	
	<div id="sjCenter">
		<div class="sjPadding">

	<h1>CLB</h1>
	<p>Centrum voor leerlingenbegeleiding, Vrij CLB</p>
	
	<p>Bermstraat 9 bus 1<br />
               3910 Neerpelt<br />
               Tel. 011/80 59 00<br />
               Fax 011/80 59 01</p>


	<ul><li>directeur : Ingeborg Verghote</li>
	<li>Begeleider : Engelen Riet</li>

<li>Schoolarts : Dr. Marleen Petermans</li>
<li>Verpleegster : Fabienne Theuwissen<br /></li>
</ul>

<!--
<p><strong>Zitdag op school: iedere eerste en derde donderdagvoormiddag van de
maand</strong></p>
-->	
<!--<p>Medisch srecretariaat :<br />
	Kloosterstraat 17<br />
	3910 Neerpelt</p>-->


		</div>
	</div>

{% include "../inc/footer.html" %}
