{% include "../inc/header.html" %}
{% include "inc.left.html" %}

	<div id="plaats">
		<strong>U bent hier&nbsp;:&nbsp;</strong>
		<a href="/info"/>info</a><span class="arrow">&nbsp;&gt;&nbsp;</span>
		<a href="/info/lesuren">lesuren</a>
	</div>
	
	<div id="sjCenter">
		<div class="sjPadding">

	<h1>Lesuren</h1>
	<ul>
		<li>voormiddag : 8.30 uur - 12.10 uur</li>
		<li>namiddag : 13.10 uur - 15.10 uur</li>
		<li>Woensdagnamiddag : vrij</li>
	</ul>



		</div>
	</div>

{% include "../inc/footer.html" %}
