{% include "../inc/header.html" %}
{% include "inc.left.html" %}

	<div id="plaats">
		<strong>U bent hier&nbsp;:&nbsp;</strong>
		<a href="/info/">info</a><span class="arrow">&nbsp;&gt;&nbsp;</span>
		<a href="/info/schoolbestuur">schoolbestuur</a>
	</div>
	
	<div id="sjCenter">
		<div class="sjPadding">

	<h1>Schoolbestuur</h1>
	<p>Naam : vzw Katholiek Basisonderwijs<br />
	Lommel - West - Kerkhoven<br />
	Kerkweg 22<br />
	392O  Lommel</p>

	<ul>
	<li>Voorzitter: Vander Mierde Ludo</li>
	<li>Ondervoorzitter : Vandenberk Bart</li>
    <li>Penningmeester: Geuens Johan</li>
    <li>Leden: Daisy Willekens/li>
	</ul>

	<p><strong>Onze school</strong><br/>
	Directeur: Huijsmans Danny<br/>
	Secretariaat: Andelhofs Chantal</p>

		</div>
	</div>

{% include "../inc/footer.html" %}
