{% include "../inc/header.html" %}
{% include "inc.left.html" %}

	<div id="plaats">
		<strong>U bent hier&nbsp;:&nbsp;</strong>
		<a href="/info/">info</a><span class="arrow">&nbsp;&gt;&nbsp;</span>
		<a href="/info/team">leerkrachtenteam</a>
	</div>
	
	<div id="sjCenter">
		<div class="sjPadding">

   		<h1>Leerkrachtenteam</h1>

        <h2>Kleuteronderwijs</h2>
        <table>
        <tr><td>juf Els :</td><td>klas 1 centrum</td></tr>
        <tr><td>juf Liliane en juf Christel :</td><td>klas 2 centrum</td></tr>
        <tr><td>juf Sandra :</td><td>klas 3 centrum</td></tr>

        <tr><td>juf Anne-Marie :</td><td>klas 4 Gelderhorsten</td></tr>
        <tr><td>juf Mieke Mannaerts :</td><td>peuters</td></tr>

        <tr><td>juf Cindy :</td><td>Lichamelijke opvoeding</td></tr>
        <tr><td>juf Hilde, meester Emile en juf Rita:</td><td>kinderverzorging</td></tr>
        <tr><td>juf An Houben :</td><td>Gok en ondersteuning </td></tr>
        </table>


        <h2>Lager onderwijs</h2>
        <table>
        <tr><td>juf Els :</td><td>1 ste lj A</td></tr>
		<tr><td>juf Tineke :</td><td>1 ste lj B</td></tr>
		
        <tr><td>juf Annelies Rubens :</td><td>2 de lj A</td></tr>
		<tr><td>juf Lieve :</td><td>2 de lj B</td></tr>

        <tr><td>juf No&#235;lla :</td><td>3 de lj A</td></tr>
        <tr><td>juf Inge Houtmeyers :</td><td>3 de lj B</td></tr>
        <tr><td>juf Anke :</td><td>3 de lj A+B</td></tr>

        <tr><td>meester Tom:</td><td>4 de lj A</td></tr>
        <tr><td>meester May:</td><td>4 de lj A</td></tr>

        <tr><td>juf Inge Linsen :</td><td>5 de lj A</td></tr>
        <tr><td>juf Mia :</td><td>5 de lj B</td></tr>
		
        <tr><td>juf An:</td><td>6 de lj</td></tr>
        </table>



        <h2>Andere</h2>
        <table>
        <tr><td>juf Monique :</td><td>  zorgjuf</td></tr>
        <tr><td>juf Martien :</td><td>  zorgco&#246;rdinator</td></tr>
        <tr><td>juf Heidi :</td><td>  logopedie</td></tr>

        <tr><td>juf May en juf Mia:</td><td>Gelijke Onderwijskansen</td></tr>
		<tr><td>meester Davy :</td><td>ICT-co&#246;rdinator</td></tr>
        <tr><td>juf Cindy :</td><td>Lichamelijke opvoeding</td></tr>
        <tr><td>juf Ann Vanden Bossche :</td><td>muziektherapie bij de peuters</td></tr>
        </table>


		</div>
	</div>

{% include "../inc/footer.html" %}
