{% include "../inc/header.html" %}
{% include "../inc/left.html" %}

	<div id="plaats"><strong>U bent hier&nbsp;:&nbsp;</strong>
		<a href="/comenius/">Comenius</a><span class="arrow">&nbsp;&gt;&nbsp;</span>
		<a href="/comenius/taalassistentschap">Taalassistentschap</a>
	</div>
				
	<div id="sjCenter" class="sj23">
		<div class="sjPadding">

			<h1>Taalassistentschap</h1>
			<h2>Schooljaar 2005 - 2006</h2>
			<p>...</p>
		
			<h2>Schooljaar 2004 - 2005</h2>
			<p>Gedurende vijf maanden is <strong>Tina Plugarova</strong>
			 uit Bulgarije taalassitent in onze school. 
			Zij zal van de kleuterschool tot het zesde leerjaar ondersteuning  geven in het Engels bij het
			Comeniusproject, Engelse lesjes geven, opdrachten in het <strong>Engels</strong> uitbouwen voor
			hoeken- en
			contractwerk, Engelse kinderboeken voorlezen en natuurlijk ook info geven in
			WO-projecten over haar moederland.
			Tina verblijft in een gastgezin, bij Eline Van Baelen uit 6B.</p>

		</div>
	</div>

{% include "../inc/footer.html" %}



