{% include "../inc/header.html" %}
{% include "../inc/left.html" %}

	<div id="plaats"><strong>U bent hier&nbsp;:&nbsp;</strong>
		<a href="/comenius/">Comenius</a><span class="arrow">&nbsp;&gt;&nbsp;</span>
		<a href="/comenius/vorigeprojecten">Vorige projecten</a>
	</div>
				
	<div id="sjCenter" class="sj23">
		<div class="sjPadding">

			<h1>Vorig comenius project (2001-2004)</h1>
			<p>Met het thema : <strong>"feesten"</strong> werken we gedurende drie jaar schooljaren met 4 andere Europese 
			scholen samen zowel op het vlak van  leerlingen- als van leerkrachtenuitwisseling 
			Prenten, tekeningen, foto's, verhalen, ....... worden uitgewisseld via post, fax en e-mail.</p> 
		
			<p>Kinderen schrijven naar pennenvrienden of naar de ganse klas. 
			Leerkrachten bezoeken elkaar, leren het onderwijssysteem kennen, vertellen over hun school en gemeenschap in de
			andere scholen en leren de kinderen een lied of een dansje aan bij hun school!</p>
		
			<div class="yellowbox2">
			<h2>Deelnemende landen</h2>	
				<ul>
				<li>Tjchechi&#235; (Z'Dar)</li>
				<li>Finland (Vaskio)</li>
				<li>Verenigd Koninkrijk (Oxford)</li>
				<li>Portugal (Beja)</li>
				<li>Belgi&#235; (Lommel - onze school)</li>
				</ul>
			</div>
		
			<div class="yellowbox2">
			<h2>Dagboek van het bezoek aan onze school in 2003</h2>
				<p>Tijdens de week van zondag 23 februari - zondag 2 maart kregen wij 29 kinderen 
				van alle deelnemende landen op bezoek in onze school.</p>
			</div>

		</div>
	</div>

{% include "../inc/footer.html" %}



